{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Newest-Products
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}">

<!-- PRODUCT CARDS -->
<header>
    <h2>Genshop - Newest Products</h2> 
</header>

<div class="cards-8 section-gray">
    <div class="container">
        <div class="row">
            {% for product in product_list %}
            <div class="col-md-3">
                <div class="card card-product">
                    <div class="img-fluid">
                        <a href="#"><img class="img-fluid" src="{{ product.get_product_main_image.image.url }}"> </a>
                    </div>
                    <div class="table">
                        <h6 class="category text-rose">{{ product.category.name }}</h6>
                        <h4 class="card-caption">
                            <a href="#">{{ product.product_name }}</a>
                        </h4>
                        <div class="card-description">{{ product.product_description }}</div>
                        <div class="ftr">
                            <div class="price">
                                <h4>${{product.price}}</h4> </div>
                            <div class="stats">
                                <a href="{% url 'product_detail' product.id %}" class="button is-black has-text-white" >View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Pagination -->
  <div class='pagination justify-content-center'>
    {% if page_obj.has_previous %}
      <a href='{% url "products" %}?page={{ page_obj.previous_page_number }}'>Previous </a>
    {% endif %}

    <span class='mx-4'>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
      <a href='{% url "products" %}?page={{ page_obj.next_page_number }}' > Next</a>
    {% endif %}
  </div>
  <!-- END Pagination -->
</div>


{% endblock content %}